@import url(main.css);
@import url(animations.css);
@import url(loader.css);

.hero-carousel-wrapper {
    display: flex;
    height: 420px;
    background-color: gray;
    position: relative;
    overflow: hidden;
}

.hero-carousel-wrapper .hero-carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
    width: 100vw;
    transition: transform 1s var(--ease-out-expo);
}

.hero-carousel .hero-slide {
    width: 100vw;
    flex-shrink: 0;
    object-fit: cover;
}

.hero-carousel-wrapper .hero-gradient-overlay::before {
    content: "";
}

.hero-carousel-wrapper .hero-gradient-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, var(--background-300) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-carousel-wrapper .hero-container {
    z-index: 30;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-carousel-wrapper .hero-carousel-actions {
    z-index: 20;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.hero-carousel-wrapper .hero-carousel-actions .hero-carousel-action {
    padding: 0 2rem;
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
}

/* .hero-carousel-wrapper .hero-carousel-actions .hero-carousel-action#hero-prev{
    background: var(--shadow-gradient-left);
}

.hero-carousel-wrapper .hero-carousel-actions .hero-carousel-action#hero-next{
    background: var(--shadow-gradient-right);
} */

.hero-carousel-wrapper .hero-carousel-actions .hero-carousel-action i {
    color: #ffffff;
    opacity: 0.25;
    transition: opacity 200ms ease;
}

.hero-carousel-wrapper .hero-carousel-actions .hero-carousel-action:hover i {
    opacity: 0.75;
}

.hero-carousel-wrapper .hero-game-title {
    color: var(--text-white);
    text-align: center;
    font-size: 32px;
    font-family: Poppins-Bold;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
    transform: all 1s;
}

.hero-carousel-wrapper .carousel-dots {
    z-index: 30;
    position: absolute;
    left: 50%;
    bottom: 25px;
    opacity: 75%;
}

.hero-carousel-wrapper .dots {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    transform: translateX(-50%);
}

.hero-carousel-wrapper .dots .dot {
    width: 10px;
    height: 10px;
    background-color: var(--primary-100);
    border-radius: 20px;
    transition: all 200ms ease;
}

.hero-carousel-wrapper .dots .dot.big {
    width: 35px;
    border-radius: 20px;
}

.hero-carousel-wrapper .btn {
    margin-top: 12px;
    font-size: 24px;
    text-wrap: nowrap;
    animation: pulse 2s infinite ease-in-out;
}

.hero-container .hero-play-now:hover {
    transform: scale(1.2);
}

.card-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-section .card-section-header .card-section-name {
    font-family: Poppins-Medium;
    color: var(--text-white);
    font-size: 30px;
}

.card-section .card-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.cards-carousel-wrapper {
    position: relative;
    overflow: hidden;
}

.cards-carousel-wrapper .card-carousel-action {

    display: none;
    z-index: 20;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 1rem;
    font-size: 48px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    text-shadow: var(--text-shadow);
}

.cards-carousel-wrapper .card-carousel-action.action-left {
    left: 0;
    background: var(--shadow-gradient-left)
}

.cards-carousel-wrapper .card-carousel-action.action-right {
    right: 0;
    background: var(--shadow-gradient-right)
}

.cards-carousel-wrapper .card-carousel-action i {
    transition: opacity 200ms ease;
    opacity: 75%;
}

.cards-carousel-wrapper .card-carousel-action:hover i {
    opacity: 100%;
}

.cards-carousel {
    display: flex;
    overflow-x: scroll;
    /* overflow: hidden; */
    flex-direction: row;
    gap: 0.5rem;
    scroll-behavior: smooth;
}

.cards-carousel::-webkit-scrollbar {
    display: none;
}

/* ======= DEFAULT CARD ======= */

.card {
    background-color: var(--background-100);
    border-radius: 10px;
    flex: 0 0 80vw;
    aspect-ratio: 16/9;
    position: relative;
    cursor: pointer;
    margin: 2px;
    transition: transform 250ms ease, outline 100ms ease;
    max-height: 200px;
}

.cards-carousel.skew-left .card {
    transform: skewX(13deg);
}

.cards-carousel.skew-right .card {
    transform: skewX(-13deg);
}

.card:hover {
    outline: 2px solid var(--primary-100);
}

.card .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(30px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px 12px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    cursor: initial;

    transition: height 200ms ease;
}

.card .card-footer .card-footer-container {
    display: flex;
    flex-direction: column;
}

.card:hover .card-footer {
    height: 70px;
}

.card:hover .card-footer .card-game-title {
    font-size: 17px;
}

.card .card-footer .card-game-title {
    color: var(--text-white);
    font-size: 16px;
    font-family: Poppins-SemiBold;
    transition: font-size 200ms ease;
}

.card .card-footer .card-game-price {
    color: var(--text-gray);
    font-size: 16px;
    font-family: Poppins-Regular;
}

.center-fix {
    margin-right: 3px;
    margin-top: 2px;
}

.card .card-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--primary-100);
    border: none;
    text-decoration: none;
    color: var(--text-white);
    cursor: pointer;
    font-size: 20px;
    transition: background-color 200ms ease, transform 0.3s ease;
    
}

.card .card-btn:hover {
    background-color: var(--primary-200);
    transform: scale(1.2);
}

.card .card-btn:active {
    transform: scale(1.5);
}

/* ======= BUY CARD ======= */

.card.card-buy:hover {
    outline: 2px solid var(--accent-100);
}

.card.card-buy .card-btn {
    background-color: var(--accent-100);
}

.card.card-buy .card-btn:hover {
    background-color: var(--accent-200);
}

/* ======= IN CART CARD ======= */

.card.card-buy.incart .card-btn {
    background-color: var(--accent-200);
}

.card .tag {
    z-index: 20;
    opacity: 0;
    position: absolute;
    min-width: 120px;
    right: -7px;
    top: 13px;
    background-color: var(--accent-100);
    padding: 4px 12px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.75);
}

.card.incart>.tag {
    opacity: 1;
    background-color: var(--accent-100);
}

.card.owned>.tag {
    opacity: 1;
    background-color: var(--primary-100);
}

.card .tag label {
    color: var(--text-white);
    font-family: Poppins-Medium;
    font-size: 14px;
}

@media only screen and (min-width: 768px) {

    .cards-carousel {
        display: flex;
        /* overflow: hidden; */
        overflow: unset;
        flex-direction: row;
        transition: transform 1s var(--ease-out-expo);
    }

    .cards-carousel-wrapper {
        position: relative;
        display: flex;
    }

    .card {
        flex: 0 0 350px;
    }

    .hero-carousel-apper .btn {
        font-size: 36px;
    }

    .hero-carousel-wrapper .hero-game-title {
        font-size: 64px;
    }

    .cards-carousel-wrapper .card-carousel-action {
        display: block;
    }

    .card-section {
        padding: 1rem 0;
    }

}