.hidden{
    opacity: 0;
}

.loader-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-200);
    z-index: 1000;
    text-align: center;
    transition: pulseWOpacity 1s ease;

    /* uncomment to disable loader */
    display: none;
}

.loader-icon {
    margin-bottom: 20px;
    height: 60px;
}

.loader-icon img {
    height: 60px;
    animation: pulse 2s infinite ease-in-out;
}

.progress-bar {
    width: 300px;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #ffffff;
    border-radius: 5px;
    transition: width 0.1s ease;
}

.percentage {
    color: #ffffff;
    font-size: 20px;
    font-family: Poppins-Medium;
}

