@import url(main.css);
.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0 auto;
    width: 1255px;
    height: 2181px;
    font-family: 'Poppins', sans-serif;
    position: relative; 
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 25px 0;
    gap: 20px;
    width: 100%; 
    height: auto;
    position: relative;
    margin-top: 70px;
}

.go-back {
    display: flex;
    align-items: center;
}

.breadcrums {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: var(--text-gray);
    margin: 0;
}

.breadcrums a {
    color: var(--text-gray); 
    text-decoration: none; 
}

.breadcrums a:hover {
    color: var(--text-white);
}
.game-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    gap: 10px;
    width: 1255px;
    height: 671px;
    background: var(--background-100);
    border-radius: 15px;
}

.vector {
    width: 33px; 
    height: 33px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    width: 100%;
    max-width: 1255px;
    margin: 0 auto;
    margin-top: 15px;
}

.game-title {
    width: auto;
    height: auto; 
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--text-white);
}

.share {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 11px;
    width: 139px;
    height: 30px;
}

.compartir {
    width: 106px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--accent-100)
}

.icon-share {
    width: 22px;
    height: 22px;
    position: relative; 
}

.bottom .compartir {
    width: 106px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--accent-100);
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}
.descripcion-texto {
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--text-gray);
}
.howtoplay{
    width: 447px;
    height: auto; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--text-white);

}
.user-details {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}


.comentarios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 10px 10px;
    gap: 20px;
    width: 100%;
    height: auto; 
}

.comentarios-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid var(--text-gray);
}

.comentarios-titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-100);
}

.escribir-comentario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
}

.user-photo img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    border: 2px solid var(--primary-100);
}
.user-photo-comment {
    left: 0px;
    top: 0px;
}
.user-photo-comment img {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 2px solid var(--primary-100);
}
.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-white);
}

.comentario-contenido {
    gap: 10px;
}

.comentario-fecha {
    font-size: 15px;
    color: var(--text-gray);
}

.comentario-texto {
    background: var(--background-200);
    padding: 10px 20px;
    width: 1182px;
    height: 138px;
    border-radius: 6px;
    color: var(--text-gray);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
}

.user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comentarios-opciones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    padding-top: 10px;
}

.btn-comentar{
    display: flex;
    align-self: flex-start;
    background-color: var(--primary-100);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.likes-detalles {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.cantidad-likes {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-white);
    margin-right: 8px;
}


.btn-comentar:hover {
    background-color: var(--primary-200);
    color: var(--text-white);
}


