@import url(main.css);
@import url(animations.css);
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 25px 0;
    gap: 20px;
    width: 100%; 
    height: auto;
    position: relative;
}

.breadcrums {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: var(--text-gray);
    margin: 0;
}

.breadcrums a {
    color: var(--text-gray); 
    text-decoration: none; 
}

.breadcrums a:hover {
    color: var(--text-white);
}
.game-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-100);
    border-radius: 15px;
    width: 100%;
    height: 661px; 
    max-width: 100%;
}

.vector {
    width: 33px; 
    height: 33px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    width: 100%;
    max-width: 1255px;
    margin: 0 auto;
    margin-top: 15px;
}
.banner{
    width: 100%; 
    height: auto; 
    max-width: 100%; 
}
.game-title {
    width: auto;
    height: auto; 
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--text-white);
}

.share {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 11px;
    width: 139px;
    height: 30px;
}

.compartir {
    width: 106px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--accent-100)
}

.icon-share {
    width: 22px;
    height: 22px;
    position: relative; 
}

.bottom .compartir {
    width: 106px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--accent-100);
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}
.descripcion-texto {
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--text-gray);
}
.howtoplay{
    width: 447px;
    height: auto; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--text-white);

}

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 10px 10px;
    gap: 20px;
    width: 100%;
    height: auto;
}

.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid var(--text-gray);
}

.comments-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-100);
}

.comment-details{
    margin-left: 40px;
}

.write-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 0px 0px;
}


.user-photo-comment img {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 2px solid var(--primary-100);
}

.write-comment-text, .sent-comment-text {
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
}
.sent-comment-text {
    color: var(--text-lightgray);
    width: 832px;
    height: auto;
    margin-bottom: 5px;
}

.write-comment-text{
    padding: 10px 20px;
    width: 1182px;
    height: 138px;
    background-color: var(--background-100);
    color: var(--text-gray);
}

.user-details {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.user-photo img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    border: 2px solid var(--primary-100);
}

.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-white);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-date {
    font-size: 15px;
    color: var(--text-gray);
}

.comments-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn-comment {
    display: flex;
    align-items: center;  /* Alineación vertical */
    justify-content: center;  /* Alineación horizontal */
    background-color: var(--primary-100);
    color: white;
    border: none;
    width: 115px;  /* Ancho fijo */
    height: 39px;  /* Altura fija */
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.btn-comment:active {
    animation: flash 0.9s ease-out;
}

.btn-comment:hover {
    background-color: var(--primary-200);
    color: var(--text-white);
    transform: scale(1.05);
}

.texto, .icono {
    position: absolute; /* Ambos elementos ocupan el mismo lugar */
    transition: visibility 0.3s ease, opacity 0.3s ease; /* Transición suave */
}

.icono {
    visibility: hidden; /* El icono está oculto inicialmente */
    opacity: 0; /* Para animar la transición */
}
.likes-details{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 0; 
}

.likes-count {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-white);
    margin-right: 8px;
}