@import url(main.css);

body {
    background-image: url('/static/rayman.jpg');
    overflow: hidden;
}

main.registro{
    background-color: var(--background-200);
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;  
    height: 400px;
    z-index: 20;
}

.back{
    display: flex;
    color: white;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.back:hover {
    color: var(--primary-100); /* Esto aplica un color en hover */
}

.step{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    display: none;
    gap: 1rem;
}

.step.show{
    display: flex;
}

.progress{
    color: wheat;
    background-color: red;
    z-index: 2000000;
    margin-bottom: 200px; /*solucion temproal*/
}

/**no tocar :D**/
.input {
    border: none;
    background-color: var(--background-200);
    padding: 12.5px;
    color: white;
}

.btn-login {
    padding: 12.5px;
    box-shadow: none !important;
    width: 100%;
}

.third-party-label {
    display: flex;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-align: center;
    color: var(--text-gray);
}

.start {
    text-align: start;
}

.third-party-login {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.third-party-login .btn {
    flex: 1 1 0%;
}

.third-party-login .btn.btn-facebook {
    background-color: #1877F2;
}

.third-party-login .btn.btn-google {
    background-color: #ffffff;
    color: #000000;
}

.register-label{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: var(--text-white);
}

.register-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.captcha{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 6px;
    margin: 0.5rem;
    border-radius: 6px;
}

.terms-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: smaller;
}

h1{
    color: white;
}
