:root {

    --background-100: #1F1F23;
    --background-200: #18181B;
    --background-300: #0E0E10;

    --primary-100: #7C3AED;
    --primary-200: #5B21B6;

    --secondary-100: #2563EB;
    --secondary-200: #1E40AF;

    --accent-100: #05855D;
    --accent-200: #082C22;

    --text-white: #ffffff;
    --text-gray: #777786;

    --btn-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
    --text-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Regular;
}

body {
    background-color: var(--background-300);
    display: flex;
    flex-direction: column;
}

.icon {
    color: var(--primary-100);
    transition: all;
    transition-duration: 100ms;
    cursor: pointer;
    font-size: 22px;
    padding: 0.25rem;
}

.icon:hover {
    color: var(--primary-200);
}

.navbar {
    height: 70px;
    background-color: var(--background-200);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar .nav-logo {
    height: 50px;
}

.navbar .nav-separator {
    background-color: var(--primary-100);
    width: 2px;
    height: 22px;
    border-radius: 5px;
}

.navbar .nav-separator::before {
    content: "";
}

.navbar .nav-profile {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.navbar .nav-profile-image {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    border: 2px solid var(--primary-100);
}

.navbar .nav-profile-name {
    color: var(--text-white);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.hero-carousel-wrapper {
    display: flex;
    height: 420px;
    background-color: gray;
    position: relative;
}

.hero-carousel-wrapper .hero-carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
    width: 100vw;
    transition: transform 1s ease-in-out;
}

.hero-carousel .hero-slide {
    width: 100vw;
    flex-shrink: 0;
    object-fit: cover;
}

.hero-carousel-wrapper .hero-gradient-overlay::before {
    content: "";
}

.hero-carousel-wrapper .hero-gradient-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, var(--background-300) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-carousel-wrapper .hero-container {
    z-index: 30;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-carousel-wrapper .hero-carousel-actions {
    z-index: 20;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.hero-carousel-wrapper .hero-carousel-actions .hero-carousel-action {
    padding: 0 2rem;
    font-size: 80px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.hero-carousel-wrapper .hero-game-title {
    color: var(--text-white);
    text-align: center;
    font-size: 64px;
    font-family: Poppins-Bold;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
    transform: all 1s;
}

.btn {
    background-color: var(--primary-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-white);
    padding: 0.5rem 1rem;
    border-radius: 18px;
    text-decoration: none;
    box-shadow: var(--btn-shadow);
    transition: all;
    transition-duration: 100ms;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-200);
}

.btn-xl {
    font-size: 36px;
}

.card-section {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-section .card-section-header {}

.card-section .card-section-header .card-section-name {
    font-family: Poppins-Medium;
    color: var(--text-white);
    font-size: 30px;
}

.card-section .card-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.cards-carousel-wrapper {
    position: relative;
}

/* .cards-carousel-wrapper .cards-carousel-actions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
} */

.cards-carousel-wrapper .card-carousel-action {
    z-index: 20;
    position: absolute;
    top: 0;
    bottom: 0;

    padding: 0 1rem;
    font-size: 48px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    text-shadow: var(--text-shadow);
    opacity: 75%;
    transition: all;
    transition-duration: 100ms;
}

.cards-carousel-wrapper .card-carousel-action.action-left {
    left: 0;
}

.cards-carousel-wrapper .card-carousel-action.action-right {
    right: 0;
}

.cards-carousel-wrapper .card-carousel-action:hover {
    opacity: 100%;
}

.cards-carousel {

    display: flex;
    overflow: hidden;
    flex-direction: row;
    gap: 0.5rem;
    transition: transform 0.5s ease;
    scroll-behavior: smooth;
}

.cards-carousel::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 300px;
    background-color: var(--background-100);
    border-radius: 10px;
    height: 175px;
    position: relative;
    cursor: pointer;
    margin: 2px;
    transition: all;
    transition-duration: 100ms;
}

.card:hover {
    outline: 2px solid var(--primary-100);
}

.card .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(30px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px 12px;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    cursor: initial;
}

.card .card-footer .card-footer-container {
    display: flex;
    flex-direction: column;
}

.card .card-footer .card-game-title {
    color: var(--text-white);
    font-size: 14px;
    font-family: Poppins-SemiBold;
}

.card .card-footer .card-game-price {
    color: var(--text-gray);
    font-size: 14px;
    font-family: Poppins-Regular;
}

.card .card-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--primary-100);
    border: none;
    text-decoration: none;
    color: var(--text-white);
    cursor: pointer;
    font-size: 16px;
    transition: all;
    transition-duration: 100ms;
}

.card .card-btn:hover {
    background-color: var(--primary-200);
}


.footer {
    margin-top: 10rem;
    background-color: var(--background-200);
    height: 360px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    gap: 100px;
    justify-content: space-between;

}

.footer .footer-logo {
    width: 150px;
    height: 150px;
}

.footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: start;
}

.footer .footer-section {
    display: flex;
    flex-direction: column;

}

.footer .footer-section .footer-section-title {
    color: var(--text-white);
    font-size: 24px;
    font-family: Poppins-SemiBold;
}

.footer .footer-section .footer-section-item {
    color: var(--text-gray);
    font-size: 24px;
    font-family: Poppins-Regular;
}