@import url(main.css);
@import url(animations.css);

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    gap: 20px;
    width: 100%;
    height: auto;
    position: relative;
}

.breadcrums {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
    margin: 0;
}

.breadcrums a {
    color: var(--text-gray);
    text-decoration: none;
}

.breadcrums a:hover {
    color: var(--text-white);
}

.game-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-100);
    border-radius: 15px;
    width: 100%;
    height: 600px;
    /* max-width: 100%; */
}

.vector {
    width: 33px;
    height: 33px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.banner {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.game-title {
    width: auto;
    height: auto;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--text-white);
}

.share {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 11px;
    width: 139px;
    height: 30px;
}

.compartir {
    width: 106px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--accent-100)
}

.icon-share {
    width: 22px;
    height: 22px;
    position: relative;
}

.bottom .compartir {
    width: 106px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--accent-100);
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}

.descripcion-texto,
.strategies-items {
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--text-gray);
}

.howtoplay {
    width: 447px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--text-white);

}

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 10px 10px;
    gap: 20px;
    width: 100%;
    height: auto;
}

.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid var(--text-gray);
}

.comments-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-100);
}

.comment-details {
    margin-left: 40px;
}

.write-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 0px 0px;
}


.user-photo-comment img {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 2px solid var(--primary-100);
}

.write-comment-text,
.sent-comment-text {
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
}

.sent-comment-text {
    color: var(--text-lightgray);
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.write-comment-text {
    width: 100%;
    height: 138px;
    padding: 1rem;
    background-color: var(--background-100);
    color: var(--text-gray);
}

.user-details {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.user-photo img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    border: 2px solid var(--primary-100);
}

.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-white);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-date {
    font-size: 15px;
    color: var(--text-gray);
}

.comments-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-100);
    color: white;
    border: none;
    width: 115px;
    height: 39px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.btn-comment:active {
    animation: flash 0.9s ease-out;
}

.btn-comment:hover {
    background-color: var(--primary-200);
    color: var(--text-white);
    transform: scale(1.05);
}

.texto,
.icono {
    position: absolute;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.icono {
    visibility: hidden;
    opacity: 0;
}

.likes-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
}

.likes-count {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-white);
    margin-right: 8px;
}

.play-now {
    transition: background-color 200ms ease;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running btn-pulse;
    box-shadow: rgba(108, 21, 189, 0.582) 0px 0px 0px 0px;
    transition: transform 300ms ease-in-out;
}

.play-now:is(:hover, :focus) {
    transform: scale(1.2);
}

@keyframes btn-pulse {
    100% {
        box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
    }
}

.playing-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    max-width: 100vw;
    margin: 0 auto;
    gap: 12px;
}

.playing-images img,
.playing-images iframe {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.playing-images iframe {
    flex: 1;
    height: 100%;
}

.strategies-items {
    margin-left: 20px;
}

.screen-video{
    position: relative;
}

.screen-video svg{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    padding: 15px;
    background-color: var(--accent-100);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen-video svg:hover{
    cursor: pointer;
}