* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#canvas {
    background-color: black;
}


.options-game{
    z-index: 20;
    position: absolute;
    display: flex;
    gap: 10px;
}


.options-game.remove{
    display: none;
}