*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E0E10;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero img{
    width: 25rem;
}

h1 {
    color: white;
}

.group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.group label{
    color: #6434C4;
    font-size: 18px;
    font-weight: bold;
}

.group ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.group ul li {
    color: white;
    font-size: 16px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link a {
    text-decoration: none;
    color: #6434C4;
    font-size: 18px;
}

.link a:hover{
    text-decoration: underline;
}