* {
    margin: 0;
    padding: 0;
}

.loader-train {
    position: static;
    background-color: skyblue; 
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    /* animation: camera-zoom 5s ease forwards; */
}

.grass {
    width: 1280px;
    height: 60vw;
    /* background-color: greenyellow; */
    background-image: url('../static/parallax/loaderTrain/suelo.png');
    position: absolute;
}

/* Contenedor de la vía */
.railway {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    top:630px;
    z-index: 200;
}

/* Los rieles */
.rail {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: gray;
    border-top: 4px solid #333;
    /* Línea superior del riel */
    border-bottom: 4px solid #333;
    /* Línea inferior del riel */
}

/* Las traviesas */
.ties {
    display: flex;
    z-index: 20;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 10px;
    background-image: repeating-linear-gradient(90deg,
            tan 0,
            /* significa que el color tan comienza en el inicio del fondo*/
            tan 20px,
            /*indica que el color tan termina a los 20px*/
            transparent 20px,
            /*espacio entre las traviesas, de 20px a 40px*/
            transparent 40px);
}


.clouds div:nth-child(1) {
    top: 30px;
    left: 30px;
}

.clouds div:nth-child(2) {
    top: 120px;
    left: 230px;
    bottom: 200px;
}

.clouds div:nth-child(3) {
    left: 1500px;
    top: 130px;
    opacity: 80%;
}

.clouds div:nth-child(4) {
    left: 1800px;
    bottom: 350px;
}

.clouds div:nth-child(5) {
    left: 450px;
    bottom: 250px;
}

.clouds div:nth-child(6) {
    left: 860px;
    bottom: 650px;
}

.clouds {
    height: 40vw;
}

.clouds div {
    position: relative;
}

.clouds .cloud img {
    width: 120px;
    height: auto;
}

.train {
    transform: translateX(-170%);
    position: absolute;
    bottom: 9vw;
}

.train-animate {
    animation: move-train-santi 10s ease forwards;
}

.train {
    display: flex;
    flex-direction: row;
    align-items: end;
    z-index: 20;
}

.train .wagon {
    position: relative;
}

.train .wagon .wagon-img {
    animation: wagon-live 1s infinite linear;
}

.train .wagon .wheel {
    position: absolute;
    bottom: 0;
    animation: wheel-spin 1s infinite linear;
}

.train .wagon .wheel.back {
    left: 25px;
}

.train .wagon .wheel.center {
    left: 80px;
}

.train .wagon .wheel.front {
    right: 25px;
}

.train .wagon:nth-child(1) .wagon-img {
    animation-delay: 0s;
}

.train .wagon:nth-child(2) .wagon-img {
    animation-delay: 0.2s;
}

.train .wagon:nth-child(3) .wagon-img {
    animation-delay: 0.4s;
}

.train .wagon:nth-child(4) .wagon-img {
    animation-delay: 0.6s;
}
/* 
@keyframes wagon-live {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }

} */

@keyframes wheel-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes camera-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);
    }
}

@keyframes move-train-santi {
    0% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(200%);
    }
}

.clouds {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clouds div {
    position: absolute;
    top: 100px;
}


.steam2{
    position: absolute;
    opacity: 10%;
    height: 30px;
    width: 40px;
    left: 110px;
    animation: effect-steam-img 2s infinite ease-in;
}

.steam2:nth-child(1) {
    animation-delay: 0s;
}

.steam2:nth-child(2) {
    animation-delay: 0.6s;
}

.steam2:nth-child(3) {
    animation-delay: 1s;
}

@keyframes effect-steam-img {
    0% {
        transform: translateX(0) translateY(0); 
        opacity: 0.1;
        scale: 0.5;
    }
    50% {
        transform: translateX(-50px) translateY(-30px);
        opacity: 0.5; 
        scale: 1;
    }
    100% {
        transform: translateX(-100px) translateY(-40px); 
        opacity: 0;  
    }
}
