* {
    margin: 0;
    padding: 0;
}

.loader-train {
   
    position: static;
    background-color: skyblue;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    /* animation: camera-zoom 5s ease forwards; */

    display: none;

}

.clouds div:nth-child(1) {
    top: 30px;
    left: 30px;
}

.clouds div:nth-child(2) {
    top: 120px;
    left: 230px;
    bottom: 200px;
}

.clouds div:nth-child(3) {
    left: 1500px;
    top: 130px;
    opacity: 80%;
}

.clouds div:nth-child(4) {
    left: 1800px;
    bottom: 350px;
}

.clouds div:nth-child(5) {
    left: 450px;
    bottom: 250px;
}

.clouds div:nth-child(6) {
    left: 860px;
    bottom: 650px;
}

.clouds {
    height: 40vw;
}

.clouds div {
    position: relative;
}

.clouds .cloud img {
    width: 120px;
    height: auto;
}

.mountains-wrapper {
    position: relative;
    /* overflow-x: hidden; */
    width: 100%;
    height: 100vh;
}

.mountains-wrapper .mointains-layer-1 {
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 200%;
    width: 200%;
    background-image: url('../static/parallax/loaderTrain/back_1.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: infiniteScroll 5s linear infinite;
}

.mountains-wrapper .mointains-layer-2 {
    position: absolute;
    bottom: -70px;
    left: 0;
    height: 200%;
    width: 200%;
    background-image: url('../static/parallax/loaderTrain/back_2.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: infiniteScroll 15s linear infinite;
    /* animation-delay: 200ms; */
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.mountains {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.ground {
    width: 100%;
    height: 9vw;
    background-color: #c08446;
    position: absolute;
    left: 0;
    z-index: 10;
}

.railway {
    left: 0;
    width: 200%;
    position: relative;
    bottom: 9vw;
    z-index: 20;
    animation: infiniteScroll 3s linear infinite;
}

.rail {
    position: absolute;
    width: 200%;
    height: 10px;
    background-color: gray;
    border-top: 4px solid #333;
    border-bottom: 4px solid #333;
}

.tiles {
    display: flex;
    position: absolute;
    top: -5px;
    width: 200%;
    height: 10px;
    background-image: repeating-linear-gradient(90deg,
            tan 0,
            tan 20px,
            transparent 20px,
            transparent 40px);
}

.train-animate {
    /* animation: move-train-santi 10s ease forwards; */
}

.train {
    z-index: 60;
    /* transform: translateX(-170%); */
    position: absolute;
    bottom: 9vw;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.train .wagon {
    position: relative;
}

.train .wagon .wagon-img {
    animation: wagon-live 1s infinite linear;
}

.train .wagon .wheel {
    position: absolute;
    bottom: 0;
    animation: wheel-spin 1s infinite linear;
}

.train .wagon .wheel.back {
    left: 25px;
}

.train .wagon .wheel.center {
    left: 80px;
}

.train .wagon .wheel.front {
    right: 25px;
}

.train .wagon:nth-child(1) .wagon-img {
    animation-delay: 0s;
}

.train .wagon:nth-child(2) .wagon-img {
    animation-delay: 0.2s;
}

.train .wagon:nth-child(3) .wagon-img {
    animation-delay: 0.4s;
}

.train .wagon:nth-child(4) .wagon-img {
    animation-delay: 0.6s;
}

@keyframes wagon-live {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes wheel-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes camera-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);
    }
}

@keyframes move-train-santi {
    0% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(200%);
    }
}

.clouds {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clouds div {
    position: absolute;
    top: 100px;
}


.steam {
    position: absolute;
    opacity: 0;
    height: 50%;
    width: 50%;
    left: 25%;
    top: -30%;
    animation: effect-steam-img 2s infinite ease-in-out;
}

.steam:nth-child(1) {
    animation-delay: 0s;
}

.steam:nth-child(2) {
    animation-delay: 0.6s;
}

.steam:nth-child(3) {
    animation-delay: 1s;
}

@keyframes effect-steam-img {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
        scale: 0;
    }

    50% {
        transform: translateX(-50px) translateY(-30px);
        opacity: 0.75;
        scale: 1;
    }

    100% {
        transform: translateX(-100px) translateY(-40px);
        opacity: 0;
    }
}