* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background-color: #FFFFFF;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.body-no-overflow {
    overflow: hidden;
}

/* ====================================================================== */
/*                                HEADER
/* ====================================================================== */

#header {
    position: fixed;
    top: 0;
    width: 1280px;
    padding: 20px 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

#header.shrink {
    background: linear-gradient(180deg, rgba(0, 209, 213, 1) 0%, rgba(0, 209, 213, 0.88) 12%, rgba(0, 209, 213, 0) 100%);
}

#header .container {
    flex: 1;
}

#header .container.left {
    display: flex;
    justify-content: start;
}

#header .container.center {
    display: flex;
    justify-content: center;
}

#header .container.right {
    display: flex;
    justify-content: end;
}

#header .container .logo {
    transition: all 0.5s ease-in-out;
    height: 320px;
}

#header.shrink .logo {
    height: 86px;
}

#header #buynow {
    background-color: #83C252;
    height: 66px;
    width: 200px;
    border: 8px solid #FFFFFF;
    border-radius: 111px;
    box-shadow: 4px 5px #02187E;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    line-height: 94.5%;
    letter-spacing: 11%;
    color: #FFFFFF;
    cursor: pointer;
    transition: transform 200ms ease, box-shadow 200ms ease;
    overflow: hidden;
}

#header #buynow:hover {
    transform: translate(-5px, -5px);
    box-shadow: 14px 15px #02187E;
}

#header #buynow::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    z-index: 1;
    transition: none;
    /* Initially hide the pseudo-element */
    opacity: 0;
}

@keyframes slide {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

#header #buynow:hover::before {
    opacity: 1;
    animation: slide 2s infinite;
}

#header .hamburguesa {
    cursor: pointer;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .hamburguesa .bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    position: relative;
}

#header .hamburguesa .bars span {
    background-color: #F39E46;
    height: 11px;
    width: 42px;
    border: 4px solid #FFFFFF;
    border-radius: 111px;
    box-shadow: 4px 5px #02187E;
    transition: all 0.3s ease-in-out;
    position: absolute;
}

#header .hamburguesa .bars span:nth-child(1) {
    top: 0;
}

#header .hamburguesa .bars span:nth-child(2) {
    top: 10px;
}

#header .hamburguesa .bars span:nth-child(3) {
    top: 20px;
}

#header .hamburguesa.active .bars span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 7px);
    /* se rota a 45 y se le saca la sombra */
    box-shadow: none;
}

#header .hamburguesa.active .bars span:nth-child(2) {
    /*linea del medio, desaparece*/
    opacity: 0;
}

#header .hamburguesa.active .bars span:nth-child(3) {
    /* se rota a -45 y se le saca la sombra*/
    transform: rotate(-45deg) translate(6px, -7px);
    box-shadow: none;
}

#header .button {
    width: 200px;
    height: 40px;
    background-color: #9D2121;
}

#header .dropdown {
    position: absolute;
    left: 90px;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0;
    transition: opacity 200ms ease;
}

#header .dropdown button {
    background-color: #83C252;
    height: 50px;
    width: 180px;
    border: 8px solid #FFFFFF;
    border-radius: 111px;
    box-shadow: 4px 5px #02187E;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    line-height: 94.5%;
    letter-spacing: 11%;
    color: #FFFFFF;
    cursor: pointer;
}

#header .visible {
    opacity: 1;
}

main {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

/* ====================================================================== */
/*                             SECTION 1 HERO                                  
/* ====================================================================== */

/* ANIMACIONES DE ENTRADA */
/* #arbol-1, #arbol-2, #arbol-3, #character-2{
    opacity: 0;
    animation: fadeInMoveTop 0.5s ease-in forwards; 
}

#bush-1, #character-1, #character-3{
    opacity: 0;
    animation: fadeInMoveBottom 0.5s ease-in forwards; 
}

#rock-1, #rock-2, #rock-3, #rock-4{
    opacity: 0;
    animation: fadeInMoveLeft 0.5s ease-in forwards; 
}

#bush-2, #bush-3, #bush-4{
    opacity: 0;
    animation: fadeInMoveRight 0.5s ease-in forwards; 
} */

@keyframes fade-in-left {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in-top {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#section-hero {
    height: 959px;
    width: 100%;
    background-image: url('../static/parallax/hero-background-upscaled.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#section-hero .fade-in-left {
    animation: fade-in-left 0.75s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#section-hero .fade-in-right {
    animation: fade-in-right 0.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#section-hero .fade-in-right-delay {
    animation: fade-in-right 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#section-hero .ch1-wrapper {
    animation: fade-in-top 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#section-hero .ch2-wrapper {
    animation: fade-in-top 0.75s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#section-hero .ch3-wrapper {
    animation: fade-in-top 0.25s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#section-hero .parallax {
    position: relative;
}

#section-hero #arbol-1 {
    height: 867.75px;
    position: absolute;
    top: 0;
    left: -153px;
    z-index: 30;
}

#section-hero #arbol-2 {
    height: 672.52px;
    position: absolute;
    top: 106.71px;
    left: 881.03px;
    z-index: 50;
}

#section-hero #arbol-3 {
    height: 430.85px;
    position: absolute;
    top: 278.38px;
    left: 1080.97px;
    z-index: 40;
}

#section-hero #bush-1 {
    height: 102.33px;
    position: absolute;
    top: 821.65px;
    left: 197.06px;
    z-index: 40;
}

#section-hero #bush-2 {
    height: 114.44px;
    position: absolute;
    top: 717.97px;
    left: 161.38px;
    z-index: 10;
}

#section-hero #bush-3 {
    height: 107.71px;
    position: absolute;
    top: 662.1px;
    left: 1080.97px;
    z-index: 40;
}

#section-hero #bush-4 {
    height: 63.28px;
    position: absolute;
    top: 630.46px;
    left: 1028.46px;
    z-index: 10;
}

#section-hero #rock-1 {
    height: 78.09px;
    position: absolute;
    top: 793.37px;
    left: 129.07px;
    z-index: 30;
}

#section-hero #rock-2 {
    height: 56.55px;
    position: absolute;
    top: 737.5px;
    left: 1035.19px;
    z-index: 50;
}

#section-hero #rock-3 {
    height: 74.05px;
    position: absolute;
    top: 737.5px;
    left: 1072.22px;
    z-index: 60;
}

#section-hero #rock-4 {
    height: 35.01px;
    position: absolute;
    top: 786.64px;
    left: 1042.6px;
    z-index: 70;
}

#section-hero #character-1 {
    height: 314.48px;
    position: absolute;
    top: 512.62px;
    left: 428.06px;
    /* transform: rotate(-6.51deg); */
    z-index: 60;
}

#section-hero #character-2 {
    height: 270px;
    position: absolute;
    top: 413.59px;
    left: 551.11px;
    /* transform: rotate(-6.72deg); */
    z-index: 50;
}

#section-hero #character-3 {
    height: 384px;
    position: absolute;
    top: 348.98px;
    left: 722.12px;
    /* transform: rotate(8.73deg); */
    z-index: 40;
}

#section-hero #shadow-character-1 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 762px;
    left: 494px;
    z-index: 30;
}

#section-hero #shadow-character-2 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 727px;
    left: 608px;
    z-index: 30;
}

#section-hero #shadow-character-3 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 697px;
    left: 724px;
    z-index: 30;
}

/* ====================================================================== */
/*                                SECTION 2                                    
/* ====================================================================== */

#section-2 {
    position: relative;
    height: 1824px;
}

#section-2 .container {
    width: 100%;
    position: absolute;
    top: 0;
}

#section-2 .container h1 {
    max-width: 508px;
    font-size: 47px;
    line-height: 94.5%;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    top: 60px;
    left: 100px;
    color: #1B428F;
}

#section-2 .container h2 {
    max-width: 704px;
    font-size: 20px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 214px;
    left: 100px;
    color: #1B428F;
}

#section-2 .container .carousel {
    position: absolute;
    height: 324.35px;
    width: 576.38px;
    top: 336px;
    left: 236px;
    border: 29px solid #1B5F99;
    border-radius: 77px;
    overflow: hidden;
}

#section-2 .container .carousel .scroller {
    display: inline-flex;
    transition: transform 500ms ease-in-out;
}

#section-2 .container .carousel .scroller img {
    width: 517.5px;
    height: 100%;
}

#section-2 .container #character-5 {
    position: absolute;
    height: 1259px;
    top: -87px;
    left: 787px;
}

#section-2 .container #character-4 {
    position: absolute;
    height: 603px;
    top: 537px;
    left: 48px;
}

#section-2 .container .floaters {
    position: absolute;
    top: 1220px;
    left: 100px;
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    gap: 41px;
}

#section-2 .container .floaters .floater {
    width: 332.96px;
}

#section-2 .container .floaters .floater .box {
    height: 302.69px;
    border: 9px solid #2982FF;
    border-radius: 41px;
    box-shadow: 4px 5px #02187E;
    margin-bottom: 23px;
    overflow: hidden;
}

#section-2 .container .floaters .floater .box img {
    width: 100%;
    height: 100%;
}

#section-2 .container .floaters .floater label {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.floater {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.floater.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ====================================================================== */
/*                                SECTION 3                                    
/* ====================================================================== */

#section-3 {
    position: relative;
    height: 1157px;
    overflow: hidden;
}

#section-3 .container {
    width: 100%;
    position: absolute;
    top: 0;
}

#section-3 .container #characters {
    position: relative;
    top: 390px;
}

#section-3 .container .center {
    position: absolute;
    top: 153px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-3 .container .center #discover {
    left: 165px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 61.14px;
    color: #FFFFFF;
    line-height: 110%;
    text-align: center;
}

#section-3 .container .center #discover span {
    font-style: italic;
}

#section-3 .container .center #download-now {
    margin-top: 80px;
    height: 66px;
    width: 540px;
    background-color: #83C252;
    border: 8px solid #FFFFFF;
    border-radius: 111px;
    box-shadow: 4px 5px #02187E;
    font-size: 31.14px;
    line-height: 110%;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    cursor: pointer;
}

/* ====================================================================== */
/*                                SECTION 4                                    
/* ====================================================================== */

#section-4 {
    position: relative;
    height: 5415px;
}

#more-fun {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    text-align: start;
    margin-left: 100px;
    margin-top: 100px;
}

#section-4 .text-scroll {
    position: absolute;
    top: 170px;
    left: 713px;
    width: 467px;
    display: flex;
    flex-direction: column;
    gap: 267px;
}

#section-4 .text-scroll .block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#section-4 .text-scroll .block.visible {
    opacity: 1;
    transform: translateY();
}

#section-4 .text-scroll .block h2 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 94.5%;
    font-size: 40px;
}

#section-4 .text-scroll .block p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
}

#section-4 .sticky {
    position: sticky;
    top: 174px;
}

#section-4 .sticky img {
    position: absolute;
}

#section-4 #ch0 {
    margin-left: 243px;
}

#section-4 #ch1 {
    margin-left: 190px;
}

#section-4 #ch2 {
    margin-left: 230px;
}

#section-4 #ch3 {
    margin-left: 230px;
}

#section-4 #ch4 {
    margin-left: 100px;
    transform: scale(0.9);
}

#section-4 #ch5 {
    margin-left: 230px;
    transform: scale(1.3);
}

#section-4 #ch6 {
    margin-left: 200px;
}

#section-4 #ch7 {
    margin-left: 260px;
    transform: scale(1.4);
}

#section-4 #ch8 {
    margin-left: 150px;
}

#section-4 #ch9 {
    margin-left: 100px;
    transform: scale(0.9);
}

#section-4 #ch10 {
    margin-left: 200px;
    transform: scale(1.4);
}

#section-4 .hidden {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

#section-4 .visible {
    opacity: 1;
}

/* ====================================================================== */
/*                                SECTION 5                                    
/* ====================================================================== */

#section-5 {
    position: relative;
    height: 1444px;
}

#section-5 .container {
    width: 100%;
    position: absolute;
    top: 0;
}

#section-5 .container #character {
    position: absolute;
    height: 989px;
    top: 352px;
    left: 731px;
    z-index: 40;
}

#section-5 .container #title {
    position: absolute;
    width: 802px;
    top: 309px;
    left: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    color: #FFFFFF;
}

#section-5 .container #video-container {
    position: absolute;
    top: 526px;
    left: 100px;
    height: 452px;
    width: 804px;
    border: 29px solid #FFFFFF;
    border-radius: 45px;
    z-index: 30;
    background-color: #cfcfcf;
    overflow: hidden;
}

#section-5 .container #video-container #iframe-demo {
    width: 100%;
    height: 100%;
}

/* ====================================================================== */
/*                                SECTION 6                                   
/* ====================================================================== */

#section-6 {
    position: relative;
    height: 1030px;
}

#section-6 .container {
    position: absolute;
    top: 214px;
    left: 102px;
}

#section-6 .container #title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    color: #9D2121;
    width: 746px;
}

#section-6 .container #description {
    margin-top: 48px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    width: 467px;
}

#section-6 #character-3d-placeholder {
    position: absolute;
    width: 667px;
    height: 973px;
    left: 599px;
}

/* ====================================================================== */
/*                                SECTION 7                                   
/* ====================================================================== */

#section-7 {
    position: relative;
}

#section-7 .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 30;
    backdrop-filter: blur(4px);
}

#section-7 .container .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-7 .card {
    width: 252px;
    height: 373px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 200ms ease;
}

#section-7 .card img {
    width: 100%;
    height: 100%;
    transition: transform 200ms ease;
}

#section-7 .card:hover img {
    transform: scale(1.1);
}

#section-7 .card:hover#one {
    box-shadow: 0 0 50px #e3111a;
}

#section-7 .card:hover#two {
    box-shadow: 0 0 50px #d98934;
}

#section-7 .card:hover#three {
    box-shadow: 0 0 50px #e1c71c;
}

#section-7 .card:hover#four {
    box-shadow: 0 0 50px #58eb00;
}

#section-7 .card:hover#five {
    box-shadow: 0 0 50px #45f2ff;
}

#section-7 .card:hover#six {
    box-shadow: 0 0 50px #552bb1;
}

#section-7 .card:hover#seven {
    box-shadow: 0 0 50px #be71d9;
}

#section-7 .card:hover#eigth {
    box-shadow: 0 0 50px #dd2d90;
}

#section-7 .card:hover#nine {
    box-shadow: 0 0 50px #aaaaa8;
}

#section-7 .card:hover#ten {
    box-shadow: 0 0 50px #e12421;
}


/* ====================================================================== */
/*                                SECTION 8                                   
/* ====================================================================== */

#section-8 {
    position: relative;
    height: 1570px;
}

#section-8 .container {
    position: absolute;
    top: 190px;
    left: 100px;
    display: flex;
    flex-direction: column;
    z-index: 30;
}

#section-8 .container #title {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    width: 816px;
    margin-bottom: 48px;
}

#section-8 .container .subscribe {
    height: 100px;
    width: 780px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    border: 9px solid #FFFFFF;
    border-radius: 50px;
    box-shadow: 4px 5px #02187E;
    overflow: hidden;
}

#section-8 .container .subscribe input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

#section-8 .container .subscribe button {
    border: none;
    background: transparent;
    outline: none;
    width: 218px;
    background-color: #83C252;
    border-left: 9px solid #FFFFFF;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    cursor: pointer;
}

#section-8 .container #terms-of-service {
    margin-top: 48px;
    margin-bottom: 25px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    width: 578px;
}

#section-8 .container #terms-of-service a {

    color: #000000;
}

#section-8 .container #teen-advisory {
    height: 145px;
    width: 231px;
}

#section-8 #background-gradient {
    position: absolute;
    height: 1296px;
    top: 273px;
}

#section-8 #background-grass {
    position: absolute;
    height: 389px;
    top: 1181px;
}

#section-8 #cloud-1 {
    position: absolute;
    height: 181x;
    top: 819px;
    left: -56px;
    opacity: 50%;
}

#section-8 #cloud-2 {
    position: absolute;
    height: 181px;
    top: 560px;
    left: 962px;
    opacity: 50%;
}

#section-8 #cloud-3 {
    position: absolute;
    height: 124px;
    top: 517px;
    left: 794px;
    opacity: 50%;
}

#section-8 #character-1 {
    position: absolute;
    height: 480px;
    top: 1048px;
    left: 65px;
}

#section-8 #character-2 {
    position: absolute;
    height: 509px;
    top: 1019px;
    left: 407px;
}

#section-8 #character-3 {
    position: absolute;
    height: 997px;
    top: 613px;
    left: 756px;
}

/* ====================================================================== */
/*                                FOOTER                                  
/* ====================================================================== */

footer {
    position: relative;
    height: 595px;
    background-color: #5E5E5D;
}

footer .platforms {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    height: 80px;
}

footer .container {
    margin-top: 35px;
    margin-left: 100px;
}

footer .container #copyright {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    color: #FFFFFF;
    width: 820px;
    letter-spacing: 11%;
}

footer .container #copyright a {
    color: #FFFFFF;
}

footer .container #social {
    margin-top: 30px;
}

footer footer .spritesheets {
    position: relative;
}

footer .spritesheets .sprite-9 {
    background-image: url('../static/parallax/sprite-9.png');
    animation: play-sprite 2s steps(39) infinite;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 800px;
    bottom: 50px;
    transform: scale(1.5);
}

footer .spritesheets .sprite-1 {
    background-image: url('../static/parallax/sprite-1.png');
    animation: play-sprite 2s steps(39) infinite;
    height: 540px;
    width: 960px;
    position: absolute;
    left: 600px;
    bottom: -130px;
    transform: scale(0.5);
}

footer .spritesheets .sprite-2 {
    background-image: url('../static/parallax/sprite-2.png');
    animation: play-sprite 2s steps(39) infinite;
    height: 113px;
    width: 200px;
    position: absolute;
    left: 600px;
    bottom: 50px;
    transform: scale(1.75);
}

@keyframes play-sprite {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}