* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background-color: #FFFFFF;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

/* ====================================================================== */
/*                                HEADER
/* ====================================================================== */

#header {
    position: fixed;
    top: 0;
    width: 1280px;
    padding: 20px 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

#header.shrink {
    background: linear-gradient(180deg, rgba(0, 209, 213, 1) 0%, rgba(0, 209, 213, 0.88) 12%, rgba(0, 209, 213, 0) 100%);
}

#header .container {
    flex: 1;
}

#header .container.left {
    display: flex;
    justify-content: start;
}

#header .container.center {
    display: flex;
    justify-content: center;
}

#header .container.right {
    display: flex;
    justify-content: end;
}

#header .container .logo {
    transition: all 0.5s ease-in-out;
    height: 320px;
}

#header.shrink .logo {
    height: 86px;
}

#header button {
    background-color: #83C252;
    height: 66px;
    width: 200px;
    border: 8px solid #FFFFFF;
    border-radius: 111px;
    box-shadow: 4px 5px #02187E;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    line-height: 94.5%;
    letter-spacing: 11%;
    color: #FFFFFF;
}

#header .hamburgesa {
    cursor: pointer;
    height: 34px;
}

#header .hamburgesa .bars {
    display: flex;
    flex-direction: column;
}

#header .hamburgesa .bars span {
    background-color: #F39E46;
    height: 11px;
    width: 42px;
    border: 4px solid #FFFFFF;
    border-radius: 111px;
    box-shadow: 4px 5px #02187E;
    transition: all 200ms ease;
}

#header .button {
    width: 200px;
    height: 40px;
    background-color: #9D2121;
}

main {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

/* ====================================================================== */
/*                             SECTION 1 HERO                                  
/* ====================================================================== */

#section-hero {
    height: 959px;
    width: 100%;
    background-image: url('../static/parallax/hero-background-upscaled.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#section-hero #arbol-1 {
    height: 867.75px;
    position: absolute;
    top: 0;
    left: -153px;
    z-index: 30;
}

#section-hero #arbol-2 {
    height: 672.52px;
    position: absolute;
    top: 106.71px;
    left: 881.03px;
    z-index: 50;
}

#section-hero #arbol-3 {
    height: 430.85px;
    position: absolute;
    top: 278.38px;
    left: 1080.97px;
    z-index: 40;
}

#section-hero #bush-1 {
    height: 102.33px;
    position: absolute;
    top: 821.65px;
    left: 197.06px;
    z-index: 40;
}

#section-hero #bush-2 {
    height: 114.44px;
    position: absolute;
    top: 717.97px;
    left: 161.38px;
    z-index: 10;
}

#section-hero #bush-3 {
    height: 107.71px;
    position: absolute;
    top: 662.1px;
    left: 1080.97px;
    z-index: 40;
}

#section-hero #bush-4 {
    height: 63.28px;
    position: absolute;
    top: 630.46px;
    left: 1028.46px;
    z-index: 10;
}

#section-hero #rock-1 {
    height: 78.09px;
    position: absolute;
    top: 793.37px;
    left: 129.07px;
    z-index: 30;
}

#section-hero #rock-2 {
    height: 56.55px;
    position: absolute;
    top: 737.5px;
    left: 1035.19px;
    z-index: 50;
}

#section-hero #rock-3 {
    height: 74.05px;
    position: absolute;
    top: 737.5px;
    left: 1072.22px;
    z-index: 60;
}

#section-hero #rock-4 {
    height: 35.01px;
    position: absolute;
    top: 786.64px;
    left: 1042.6px;
    z-index: 70;
}

#section-hero #character-1 {
    height: 314.48px;
    position: absolute;
    top: 512.62px;
    left: 428.06px;
    transform: rotate(-6.51deg);
    z-index: 60;
}

#section-hero #character-2 {
    height: 270px;
    position: absolute;
    top: 413.59px;
    left: 551.11px;
    transform: rotate(-6.72deg);
    z-index: 50;
}

#section-hero #character-3 {
    height: 384px;
    position: absolute;
    top: 348.98px;
    left: 722.12px;
    transform: rotate(8.73deg);
    z-index: 40;
}

#section-hero #shadow-character-1 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 762px;
    left: 494px;
    z-index: 30;
}

#section-hero #shadow-character-2 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 727px;
    left: 608px;
    z-index: 30;
}

#section-hero #shadow-character-3 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 697px;
    left: 724px;
    z-index: 30;
}

/* ====================================================================== */
/*                                SECTION 2                                    
/* ====================================================================== */

#section-2 {
    position: relative;
    height: 1824px;
}

#section-2 .container {
    width: 100%;
    position: absolute;
    top: 0;
}

#section-2 .container h1 {
    max-width: 508px;
    font-size: 47px;
    line-height: 94.5%;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    top: 60px;
    left: 100px;
    color: #1B428F;
}

#section-2 .container h2 {
    max-width: 704px;
    font-size: 20px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 214px;
    left: 100px;
    color: #1B428F;
}

#section-2 .container .carousel {
    position: absolute;
    height: 324.35px;
    width: 576.38px;
    top: 336px;
    left: 236px;
    border: 29px solid #1B5F99;
    border-radius: 77px;
    overflow: hidden;
}

#section-2 .container .carousel .scroller {
    display: inline-flex;
    transition: transform 500ms ease-in-out;
}

#section-2 .container .carousel .scroller img {
    width: 517.5px;
    height: 100%;
}

#section-2 .container #character-5 {
    position: absolute;
    height: 1259px;
    top: -87px;
    left: 787px;
}

#section-2 .container #character-4 {
    position: absolute;
    height: 603px;
    top: 537px;
    left: 48px;
}

#section-2 .container .floaters {
    position: absolute;
    top: 1220px;
    left: 100px;
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    gap: 41px;
}

#section-2 .container .floaters .floater {
    width: 332.96px;
}

#section-2 .container .floaters .floater .box {
    height: 302.69px;
    border: 9px solid #2982FF;
    border-radius: 41px;
    box-shadow: 4px 5px #02187E;
    margin-bottom: 23px;
    overflow: hidden;
}

#section-2 .container .floaters .floater .box img {
    width: 100%;
    height: 100%;
}

#section-2 .container .floaters .floater label {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.floater {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.floater.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ====================================================================== */
/*                                SECTION 3                                    
/* ====================================================================== */

#section-3 {
    position: relative;
    height: 1157px;
}

#section-3 .container {
    width: 100%;
    position: absolute;
    top: 0;
}

#section-3 .container #characters {
    position: relative;
    top: 390px;
}

#section-3 .container .center {
    position: absolute;
    top: 153px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-3 .container .center #discover {
    left: 165px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 61.14px;
    color: #FFFFFF;
    line-height: 110%;
    text-align: center;
}

#section-3 .container .center #discover span {
    font-style: italic;
}

#section-3 .container .center #download-now {
    margin-top: 80px;
    height: 66px;
    width: 540px;
    background-color: #83C252;
    border: 8px solid #FFFFFF;
    border-radius: 111px;
    box-shadow: 4px 5px #02187E;
    font-size: 31.14px;
    line-height: 110%;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    cursor: pointer;
}

/* ====================================================================== */
/*                                SECTION 4                                    
/* ====================================================================== */

#section-4 {
    position: relative;
    height: 5415px;
}

#section-4 .sticky {
    position: absolute;
    top: 174px;
    left: 100px;
}

#section-4 .sticky #more-fun {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
}

#section-4 .sticky .block-number {
    position: relative;
    top: 123px;
    left: 143px;
}

#section-4 .text-scroll {
    position: absolute;
    top: 390px;
    left: 713px;
    width: 467px;
    display: flex;
    flex-direction: column;
    gap: 267px;
}


#section-4 .text-scroll .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section-4 .text-scroll .block h2 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 94.5%;
    font-size: 40px;
}

#section-4 .text-scroll .block p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
}

/* ====================================================================== */
/*                                SECTION 5                                    
/* ====================================================================== */

#section-5 {
    position: relative;
    height: 1444px;
}

#section-5 .container {
    width: 100%;
    position: absolute;
    top: 0;
}

#section-5 .container #character {
    position: absolute;
    height: 989px;
    top: 352px;
    left: 731px;
    z-index: 40;
}

#section-5 .container #title {
    position: absolute;
    width: 802px;
    top: 309px;
    left: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    color: #FFFFFF;
}

#section-5 .container #video-container {
    position: absolute;
    top: 526px;
    left: 100px;
    height: 452px;
    width: 804px;
    border: 29px solid #FFFFFF;
    border-radius: 45px;
    z-index: 30;
    background-color: #cfcfcf;
    overflow: hidden;
}

#section-5 .container #video-container #iframe-demo {
    width: 100%;
    height: 100%;
}

/* ====================================================================== */
/*                                SECTION 6                                   
/* ====================================================================== */

#section-6 {
    position: relative;
    height: 1030px;
}

#section-6 .container {
    position: absolute;
    top: 214px;
    left: 102px;
}

#section-6 .container #title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    color: #9D2121;
    width: 746px;
}

#section-6 .container #description {
    margin-top: 48px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    width: 467px;
}

#section-6 #character-3d-placeholder {
    position: absolute;
    width: 667px;
    height: 973px;
    left: 599px;
}

/* ====================================================================== */
/*                                SECTION 7                                   
/* ====================================================================== */

#section-7 {
    position: relative;
}

#section-7 .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 30;
    backdrop-filter: blur(4px);
}

#section-7 .container .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-7 .container .flex .card {
    width: 252px;
    height: 373px;
}

/* ====================================================================== */
/*                                SECTION 8                                   
/* ====================================================================== */

#section-8 {
    position: relative;
    height: 1570px;
}

#section-8 .container {
    position: absolute;
    top: 190px;
    left: 100px;
    display: flex;
    flex-direction: column;
    z-index: 30;
}

#section-8 .container #title {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    width: 816px;
    margin-bottom: 48px;
}

#section-8 .container .subscribe {
    height: 100px;
    width: 780px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    border: 9px solid #FFFFFF;
    border-radius: 50px;
    box-shadow: 4px 5px #02187E;
    overflow: hidden;
}

#section-8 .container .subscribe input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

#section-8 .container .subscribe button {
    border: none;
    background: transparent;
    outline: none;
    width: 218px;
    background-color: #83C252;
    border-left: 9px solid #FFFFFF;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    cursor: pointer;
}

#section-8 .container #terms-of-service {
    margin-top: 48px;
    margin-bottom: 25px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    width: 578px;
}

#section-8 .container #terms-of-service a {

    color: #000000;
}

#section-8 .container #teen-advisory {
    height: 145px;
    width: 231px;
}

#section-8 #background-gradient {
    position: absolute;
    height: 1296px;
    top: 273px;
}

#section-8 #background-grass {
    position: absolute;
    height: 389px;
    top: 1181px;
}

#section-8 #cloud-1 {
    position: absolute;
    height: 181x;
    top: 819px;
    left: -56px;
    opacity: 50%;
}

#section-8 #cloud-2 {
    position: absolute;
    height: 181px;
    top: 560px;
    left: 962px;
    opacity: 50%;
}

#section-8 #cloud-3 {
    position: absolute;
    height: 124px;
    top: 517px;
    left: 794px;
    opacity: 50%;
}

#section-8 #character-1 {
    position: absolute;
    height: 480px;
    top: 1048px;
    left: 65px;
}

#section-8 #character-2 {
    position: absolute;
    height: 509px;
    top: 1019px;
    left: 407px;
}

#section-8 #character-3 {
    position: absolute;
    height: 997px;
    top: 613px;
    left: 756px;
}

/* ====================================================================== */
/*                                FOOTER                                  
/* ====================================================================== */

footer {
    position: relative;
    height: 595px;
    background-color: #5E5E5D;
}

footer .platforms {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    height: 80px;
}

footer .container {
    margin-top: 35px;
    margin-left: 100px;
}

footer .container #copyright {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    color: #FFFFFF;
    width: 820px;
    letter-spacing: 11%;
}

footer .container #copyright a {
    color: #FFFFFF;
}

footer .container #social {
    margin-top: 30px;
}